body {
	/*background: #282C2C;*/
	font-family: "Lucida sans","Liberation Sans";
	font-size: 10pt;
}

h1 {
	font-family: "Lato","Calibri","Arial",sans-serif;
    font-size: 28pt;
    font-weight: normal;
}

li {
    display: inline;
    list-style: none;
    margin: 10px;
}

nav {
    background-image: url(background.png);
    background-size: cover;
    background-repeat: no-repeat;
	padding: 20px;
    text-align: right;
	margin:-8px;
}

nav a {
	background: rgba(255, 255, 255, 0.1);
    border-top: solid 2px #FF7400;
	padding: 10px 20px;
    display: inline-block;
    margin: 4px 2px;
	color: white;
    font-weight: bold;
    line-height: 160%;
}

a {
	text-decoration: none;
}
a:hover {
	color: #FF7400;
}

table {
    border-collapse: collapse;
    text-align: center;
}

td, th {
    padding: 3px 6px;
    border: 1px solid #0B486B;
}

.code {
	color: #0B486B;
    display: block;
	font-family: "Liberation Mono";
    padding: 11px
}

.code-inline {
	color: #0B486B;
	font-family: "Liberation Mono";
}

.keyword {
	color: #79BD9A;
	font-family: "Liberation Mono";
}

.warning {
    color: deeppink;
}

.zz {
	color: #3B8686;
}